.wave-container {
	position: relative;
	min-height: 120px;
	height: 10vh;
	overflow: hidden;
}

@keyframes move_wave {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55);
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1);
	}
}

.waveWrapper {
	margin-top: -1px;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.waveWrapperInner {
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 100%;
	bottom: -1px;
	background-image: var(
		--wave-gradient,
		linear-gradient(to top, #067bc0 20%, #0c1234 80%)
	);
}

.bgTop {
	z-index: 15;
	opacity: 0.5;
}

.bgMiddle {
	z-index: 10;
	opacity: 0.75;
}

.bgBottom {
	z-index: 5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
}

.waveTop {
	background-size: 50% 100px;
}

.waveAnimation .waveTop {
	animation: move-wave 3s;
	-webkit-animation: move-wave 3s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.waveMiddle {
	background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
	animation: move_wave 10s linear infinite;
}

.waveBottom {
	background-size: 50% 100px;
}

.waveAnimation .waveBottom {
	animation: move_wave 15s linear infinite;
}

.waveAnimation.rotated {
	transform: rotate(180deg);
}

.ship-container {
	z-index: 50;
	top: -10px;
	left: 0;
	position: absolute;
	animation: ship-move 20s linear infinite;
}

.ship {
	width: 150px;
	animation: swing 10s ease infinite;
}

@keyframes swing {
	0% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(10deg);
	}
}

@keyframes ship-move {
	0% {
		transform: translate(0, -5px);
	}

	100% {
		transform: translate(100vw, 5px);
	}
}

@media (min-width: 992px) and (min-height: 630px) and (max-height: 770px) {
	.wave-container {
		min-height: 105px;
	}
}
